.select_content table{
    margin-bottom:10px;
    border-spacing:0px;
    max-height:400px;
}
.select_content{
    padding-bottom:15px;
}
.select_content table td, .select_content table tr{
    border-spacing:0px;
}
#select_submit{
    font-size:1.2em;
}

.select_content tr:hover{
    background-color:#e4e4e4;
}
.select_content tr.selected{
    background-color:silver;
}
.select_content tr:nth-of-type(1){
    background-color:white;
}