		p.smallinfo{
			margin:1px;
			font-family: "Times New Roman";
		}
		div.login{
			padding-top:50px;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:10px;
			text-align:center;
		}
		p.info{
			font-family: "Times New Roman";
		}
		p.dev{
			margin:50px;
			font-family: "Times New Roman";
		}