<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MODME PROTOTYPE</title>
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        {% block styles %}
        <link rel="stylesheet" type="text/css" href="/static/common.css" />
        <link rel="stylesheet" type="text/css" href="/static/proto_main.css" />
        {% endblock %}
	</head>
<body>
    <div id="navigationhover">
        <div id="navigationtoggle"><img style="display:none;" class="disabled" src="/static/greendownarrow.png"/><img style="display:none;" class="enabled" src="/static/greenrightarrow.png"/></div>
        <div id="navigation">
            <ul>
            {% block navigation %}
            {% endblock %}
            {% if user.is_authenticated %}
                <li class="login"><a href="/logout.html">Log out</a></li>
            {% else %}
                <li class="login"><a href="/login.html">Log in</a></li>
            {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <p class="logged_in">Logged in as {{ user.username }}.</p>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/proto_main.js"></script>
{% endblock %}
</html>