<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MODME PROTOTYPE</title>
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/protomain.css" />
	</head>
<body>
    <div id="navigation">
        <ul>
            <li><a>About</a></li>
            <li><a>Editor</a></li>
        </ul>
    </div>
    <div id="container">
        <p>Nothing here just yet!</p>
    </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</html>