{% extends "module.html" %}
{% block moduleoptions %}
    {% if feature.id == 0 %}
        <p>Create a new game Feature.</p>
    {% else %}
        <p>ID: <span id="moduleid">{{ feature.id }}</span></p>
        <p>Status: {{ feature.get_play_status }}</p>
        <p>Owner: {{ feature.creator.username }}</p>
    {% endif %}

    <form id="mainform" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="helpsubject">
            <p>Editor name:<input class="module line" type="text" name="editorname" value="{{ feature.adminname }}" autocomplete="off"/><span class="element_helptext"style="display: none">Editor name: Only visible in the editor. It should be a name that helps you distinguish it from other modules. Basically it don't matter too much so dont sweat it.</span></p>
        </div>
        <div class="helpsubject">
            <p>Feature name:<input class="module line" type="text" name="name" value="{{ feature.name }}" autocomplete="off"/><span class="element_helptext" style="display: none">The name of the feature shown in game. Should be a simple noun.</span></p>
        </div>
        <div class="helpsubject">
            <p>Location to attach to:
                <input id="attachname" class="module line" type="text" name="modulename" readonly="readonly" value="{{ feature.location.name }}"/>
                <input id="attachid" class="module line" type="hidden" name="moduleid" readonly="readonly" value="{{ feature.location.id }}"/>
                {% if user_can_edit_module %}<input class="createbutton" type="button" id="feature_attach" value="Select"/>{% endif %}
            </p>
            <span class="element_helptext">Attachment: In what Location (or other module) will the feature be available.</span>
        </div>
        <div class="helpsubject">
            <p>Default description:<textarea class="module text" type="text" name="desc" rows="5" cols="80">{{ feature.desc }}</textarea><span class="element_helptext" style="display: none">Description: Description when examining the feature.</span></p>
        </div>
        <div class="helpsubject">
            <p>Notes:<textarea class="module text" type="text" name="notes" rows="5" cols="50">{% if feature.name %}{{ feature.notes }}{% endif %}</textarea><span class="element_helptext" style="display: none">Notes: Any notes you wish to write down for whatever reason. Not visible to the player.</span></p>
        </div>
        {% if feature.id == 0 or user_can_edit_module %}
            <p>
                <input class="save" type="submit" name="save" value="Save"/>
                {% if feature.id != 0 %}
                    {% if feature.creator.id == user.id or user.is_superuser %} 
                        {% if feature.play_status == "UN" %} 
                            <input class="publish" type="submit" name="publish" value="Publish"/>
                        {% else %}
                            <input class="unpublish" type="submit" name="unpublish" value="Unpublish"/>
                        {% endif %}
                        <input class="delete" type="submit" name="delete" value="Delete"/>
                    {% endif %}
                {% endif %}
            </p>
        {% endif %}
    </form>
{% endblock %}
{% block hiddenelements %}
{% endblock %}
{% block modulescripts %}
    <script type="text/javascript" src="/static/feature.js"></script>
{% endblock %}
