
{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/common.css" />
<link rel="stylesheet" type="text/css" href="/static/proto_main.css" />
{% endblock %}
{% block content %}
            <li id="nav_game" class="selected"><a>Game</a></li>
            <li id="nav_about"><a>About</a></li>
            <li id="nav_help"><a>Help!</a></li>
            {% if user.is_authenticated %}<li id="nav_settings"><a href="settings.html">Settings</a></li>{% endif %}
            <li id="nav_content"><a href="/proto/editor/">Add content</a></li>
        </ul>
    </div>
    <div id="container">
        <div id="about" style="display: none;">
            <p>MODME is a game about exploring text-based universes filled with bad jokes and surreal vistas. In MODME, the player can expand his universe by adding pieces to it. You can do that with "Add content" button off to the side, incase you're wondering.</p>
            <p>You are currently playing a prototype version of MODME. It was developed by Tarmo Knuutinen and runs on Python and Django.</p>
        </div>
        <div id="help" style="display: none;">
            <p>Input commands in the input box next to the >. This is just about all you can do in the game. Try different commands like <i>examine, go to</i>, and so on. Try <i>examine room</i> to see the room details. Also try <i>show stats</i> to see your current stats and other stuff possibly.</p>
            <p>You might also be able to interact with stuff with various secret commands. Depends on the version you're playing though. Hell I don't know, just try stuff yourself a little bit.</p>
        </div>
        <div id="game">
            <div id="game_screen">
                <p>You wake up in your room, cold and alone. It strikes you that you have forgotten your name, perhaps a result of many years of huffing glue. You can't remember if you actually do that, but you set that as the primary hypothesis. What will your new name be?</p>
            </div>
            <div id="game_input">
                <p>><input value="zoosmell pooplord"></input></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript" src="/static/proto_main.js"></script>
{% endblock %}